/* src/app/globals.css */

@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* RTL Support */
[dir='rtl'] {
  direction: rtl;
}
[dir='rtl'] .space-x-4 > * + * {
  margin-right: 1rem;
  margin-left: 0;
}
[dir='rtl'] .space-x-6 > * + * {
  margin-right: 1.5rem;
  margin-left: 0;
}
[dir='rtl'] .space-x-8 > * + * {
  margin-right: 2rem;
  margin-left: 0;
}

/* Line clamp */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
